<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= game.title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="epic-theme">
  <div class="ui container main-container">
    <h1 class="ui header"><%= game.title %></h1>

    <div class="back-button-container">
      <a href="javascript:history.back()">
        <button class="ui button back-button">Назад</button>
      </a>
    </div>

    <table class="ui very basic collapsing celled table">
      <tbody>
        <tr>
          <td>
            <b>Описание:</b>
          </td>
          <td>
            <%= game.description %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Тип контента:</b>
          </td>
          <td>
            <%= content_type.name %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Дата релиза:</b>
          </td>
          <td>
            <%= game.release_date %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Жанры:</b>
          </td>
          <td>
            <%= game.genres %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Разработчик:</b>
          </td>
          <td>
            <%= developer.name %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Издатель:</b>
          </td>
          <td>
            <%= publisher.name %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Поддерживаемые ОС:</b>
          </td>
          <td>
            <%= game.supported_os %>
          </td>
        </tr>
    </table>

  </div>
</body>
</html>