<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Игры Epic Games</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/favourites.js"></script>
  <script src="/sortByTitle.js"></script>
  <script src="/filterByOS.js"></script>
</head>
<body class="epic-theme">
  <div class="ui container main-container">
    <h1 class="ui header">Игры Epic Games</h1>

    <div class="button-container">
      <a href="../index.html">
        <button class="ui button back-button">Назад</button>
      </a>
      <a href="/favourites/show">
        <button class="ui button favourite-button">Избранное</button>
      </a>
    </div>

    <div class="menu-section">
      <a href="games/filter-by-supported-os">
        <button class="ui button left floated filter-button">Фильтровать</button>
      </a>
      <a href="games">
        <button class="ui button">Игры</button>
      </a>
      <a href="top-games">
        <button class="ui button">Самые популярные игры</button>
      </a>
      <a href="news">
        <button class="ui button">Новости</button>
      </a>
      <a href="games/sort-by-title">
        <button disabled class="ui button right floated sort-button">Сортировать</button>
      </a>
    </div>

    <div class="ui link items">
      <% games.forEach(game => { %>
      <div class="item">
        <a href="game/<%= game.id %>" class="item-link">
          <div class="ui tiny image">
            <img class="ui mini image" src="../res/game_thumbnail.png"></img>
          </div>
          <div class="content">
            <div class="header"><%= game.title %></div>
            <div class="description">
              <p><%= game.description %></p>
            </div>
          </div>
        </a>
        <button class="ui right floated icon button add-to-favourite" data-game-id="<%= game.id %>" data-platform-id="<%= game.platform_id %>">
          <i class="heart icon"></i>
        </button>
      </div>
      <% }) %>
    </div>

  </div>
</body>
</html>
