<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-game-id="<%= game.id %>"><%= game.title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
  <!-- <script src="updateSteamGame.js"></script> -->
</head>
<body class="steam-theme">
  <div class="ui container main-container">
    <h1 class="ui header"><%= game.title %></h1>

    <table class="ui very basic collapsing celled table">
      <tbody>
        <tr>
          <td>
            <b>Описание:</b>
          </td>
          <td>
            <%= game.description %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Тип контента:</b>
          </td>
          <td>
            <%= game.content_type %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Дата релиза:</b>
          </td>
          <td>
            <%= game.release_date %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Жанры:</b>
          </td>
          <td>
            <%= game.genres %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Разработчик:</b>
          </td>
          <td>
            <%= developer.name %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Издатель:</b>
          </td>
          <td>
            <%= publisher.name %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Поддерживаемые ОС:</b>
          </td>
          <td>
            <%= game.supported_os %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Поддерживаемые языки:</b>
          </td>
          <td>
            <%= game.supported_languages %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Рекомендованные системные требования:</b>
          </td>
          <td>
            <%= game.recommended_system_requirements %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Минимальные системные требования:</b>
          </td>
          <td>
            <%= game.min_system_requirements %>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="javascript:history.back()">
      <button class="ui button back-button">Назад</button>
    </a>
    <a href="/steam/game/<%= game.id %>/update">
      <button class="ui button update">Изменить</button>
    </a>
    <button class="ui button delete" onclick="DeleteGame()">Удалить</button>
    <script>
      document.getElementsByClassName("ui button delete").onclick = DeleteGame;
      const game_id = document.querySelector('[data-game-id]').getAttribute('data-game-id');
      function DeleteGame() {
        fetch('/steam/games/delete', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({"id": game_id}),
        })
        .then(response => response.json())
        .then(data => {
          console.log('Успех:', data);
          alert('Игра успешно удалена!');
          window.history.back();
        })
        .catch((error) => {
          console.error('Ошибка:', error);
          alert('Произошла ошибка при удалении игры.');
        });
      }
    </script>

  </div>
</body>
</html>